{% extends '../base.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Vitajte na stránke pre nájdenie perfektnej akcie!</h1>
        <p1>Môžete si u nás pozrieť konajúce sa podujatia po celom Slovensku!</p1>
    </div>
{% endblock%}