{% extends '../base.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Vitajte na stránke OurPHP</h1>
        <p1>Kde si môžete vytvorit tabulku, možno!</p1>
    </div>
{% endblock%}