{% extends '../base.twig' %}
{% block content %}
    <h2>Vytvor tabuľku</h2>
    <form method="POST" action="script.js">
    <button type="submit" name="action" value="update">Update</button>
    <button type="submit" name="action" value="insert">Insert</button>
    <button type="submit" name="action" value="delete">Delete</button>
    <button type="submit" name="action" value="drop">Drop</button>
        <button type="submit" name="action" value="select">Drop</button>
    <br><br>
    <label for="row">Row:</label>
    <input type="text" id="row" name="row" value="0">
    <label for="column">Column:</label>
    <input type="text" id="column" name="column" value="0">
        <label for="value">Value:</label>
        <input type="text" id="value" name="value" value="">
        <label for="where">WHERE</label>
        <input type="text" id="where" name="where" value="">
    </form>

    <table id="myTable" border="1" style="width: 50%; height: 100px;">
        {% for i in row %}
            <tr>
                {% for j in column %}
                    <td style="border: 1px solid black; padding: 5px;">
                        <input type="text" style="border: 0; outline: 0" name="data[{{ i }}][{{ j }}]" value="{{ data[i][j] ?? '' }}" readonly>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <button type="button" id="btnInsert">Insert</button>
    <button type="button" id="btnUpdate">Update</button>
    <button type="button" id="btnDelete">Delete</button>
    <button type="button" id="btnDrop">Drop</button>
    <button type="button" id="btnCreate">Create</button>


    <p id="vystup"></p>


    <script>

        function deleteValue() {
            var table = document.getElementById("myTable");
            var selectedRow = document.getElementById("row").value;
            var selectedCol = document.getElementById("column").value;

            if (selectedRow && selectedCol) {
                var cell = table.rows[selectedRow - 1].cells[selectedCol - 1];
                cell.children[0].value = "";
            }
            var vstup = document.getElementById("vystup");
            vstup.innerHTML = "DELETE FROM TABLE WHERE column,row =" + selectedCol + "," + selectedRow;
        }

        function updateCell() {
            var table = document.getElementById("myTable");
            var selectedRow = document.getElementById("row").value;
            var selectedCol = document.getElementById("column").value;
            var cell = table.rows[selectedRow - 1].cells[selectedCol - 1];
            var input = document.getElementById("value");
            var where = document.getElementById("where");
            cell.innerHTML = "<input type='text' name='data[" + selectedRow + "][" + selectedCol + "]' value='" + document.getElementById("value").value + "' style='border: 0; outline: 0; width: 100%; height: 100%;' readonly>";
        }

        function updateCell() {
            var table = document.getElementById("myTable");
            var input = document.getElementById("value").value;
            var where = document.getElementById("where").value;
            alert(where);
            alert(input);

            // loop through all rows and columns
            for (var i = 0; i < table.rows.length; i++) {
                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    var cell = table.rows[i].cells[j];
                    alert(cell.innerHTML);
                    // check if the cell value matches the where string
                    if (cell.textContent === where) {
                        // update the cell value
                        cell.innerHTML = "<input type='text' name='data[" + i + "][" + j + "]' value='" + input + "' style='border: 0; outline: 0; width: 100%; height: 100%;' readonly>";
                    }
                }
            }
        }

        //var vstup = document.getElementById("vystup");
        //vstup.innerHTML = "UPDATE TABLE SET" + input + "WHERE" + where;

        function addRow() {
            var table = document.getElementById("myTable");
            var selectedRow = document.getElementById("row").value;
            var selectedCol = document.getElementById("column").value;
            var vstup = document.getElementById("vystup");

            // ak nie sú vybraté žiadne riadky alebo stĺpce, pridaj nový riadok na koniec tabuľky
            if (selectedRow == 0 || selectedCol == 0) {
                var newRow = table.insertRow(table.rows.length);
                for (var i = 0; i < table.rows[0].cells.length; i++) {
                    var newCell = newRow.insertCell(i);
                    newCell.innerHTML = "<input type='text' name='data[" + table.rows.length + "][" + (i + 1) + "]' value='' style='border: 0; outline: 0; width: 100%; height: 100%;' readonly>";
                    newCell.style.border = "1px solid black";
                    newCell.style.padding = "5px";
                }
                vstup.innerHTML = "INSERT INTO TABLE DEFAULT VALUES;"
                return;
            }

            // ak bol zvolený riadok, pridaj hodnoty do vybraného riadka
            var stlpec = "(" + selectedCol + ")";
            if (selectedRow > 0) {
                var row = table.rows[selectedRow - 1];
                var values = document.getElementById("value").value.split(";");
                for (var i = 0; i < values.length; i++) {
                    var value = values[i].trim();
                    if (selectedCol == 0) {
                        row.insertCell(row.cells.length);
                        selectedCol = row.cells.length;
                    }
                    var cell = row.cells[selectedCol - 1];
                    cell.innerHTML = "<input type='text' name='data[" + selectedRow + "][" + selectedCol + "]' value='" + value + "' style='border: 0; outline: 0; width: 100%; height: 100%;' readonly>";
                    cell.style.border = "1px solid black";
                    cell.style.padding = "5px";
                    if(selectedRow == selectedCol){
                        vstup.innerHTML = "INSERT INTO TABLE" + stlpec + "VALUES" + "(" + values + ")" + ";";
                    }
                    else{

                        vstup.innerHTML = "INSERT INTO TABLE VALUES" + "(" + values + ")" + ";";
                    }
                    selectedCol++;


                }
            }
        }

        function createTable() {
            var table = document.getElementById("myTable");
            var selectedRow = document.getElementById("row").value;
            var selectedCol = document.getElementById("column").value;
            var headers = document.getElementById("value").value.split(";");
            var vystup = document.getElementById("vystup");
            vystup.innerHTML = "CREATE TABLE TABLE";

            if( headers !== ""){
                vystup.innerHTML += "(" + headers + ")" + ";";
            }
            else{
                vystup.innerHTML += ";";
            }


            // vymazanie existujúcej tabuľky
            while(table.rows.length > 0) {
                table.deleteRow(0);
            }

            // vytvorenie nových riadkov a stĺpcov
            for (var i = 0; i < selectedRow; i++) {
                var row = table.insertRow(table.rows.length);
                for (var j = 0; j < selectedCol; j++) {
                    var cell = row.insertCell(j);
                    var value = '';

                    // ak sú definované headers, použijeme ich ako hodnoty v prvom riadku
                    if (headers && i === 0) {
                        value = headers[j];
                    }

                    // vloženie inputu do bunky s definovanou hodnotou
                    cell.innerHTML = "<input type='text' name='data[" + (i+1) + "][" + (j+1) + "]' value='" + value + "' style='border: 0; outline: 0; width: 100%; height: 100%;' readonly>";
                    cell.style.border = "1px solid black";
                    cell.style.padding = "5px";
                }
            }
        }

        function dropTable() {
            var table = document.getElementById("myTable");
            table.innerHTML = "";
            var vystup = document.getElementById("vystup");
            vystup.innerHTML = "DROP TABLE TABLE;"
        }

        // pridanie event listenerov pre tlačidlá
        document.getElementById("btnInsert").addEventListener("click", function() {
            addRow();
        });

        document.getElementById("btnDrop").addEventListener("click", function() {
            dropTable();
        });

        document.getElementById("btnCreate").addEventListener("click", function() {
            createTable();
        });

        document.getElementById("btnDelete").addEventListener("click", function() {
            deleteValue();
        });

        document.getElementById("btnUpdate").addEventListener("click", function() {
            updateCell();
        });
    </script>

{% endblock %}