{% extends '../base.twig' %}

{% block content %}
    <h2>Pridat podujaie</h2>

    <form action="../pridaj_podujatie" method="post">
        <label for="Nazov">Názov</label><br>
        <input type="text" id="Nazov" name="nazov"><br>
        <label for="Datum"></label>Dátum<br>
        <input type="date" id="Datum" name="datum"><br>
        <label for="Opis"></label>Opis podujatia<br>
        <input type="text" id="Opis" name="opis"><br>
        <label for="Miesto"></label>Miesto konania<br>
        <input type="text" id="Miesto" name="miesto"><br><br>
        <label for="category">Typ podujatia</label><br>
        <select class="form-control" id="category" name="typ">
            <option value="">Nemeniť</option>
            <option value="4">Koncert</option>
            <option value="2">Divadlo</option>
            <option value="1">Film</option>
            <option value="3">Festival</option>
        </select>
        <label for="Kraj"></label>Kraj konania<br>
        <select class="form-control" id="region" name="kraj">
            <option value="">Nezmeniť!</option>
            <option value="1">Bratislavský kraj</option>
            <option value="2">Banskobystrický kraj</option>
            <option value="3">Nitrianský kraj</option>
        </select>
        <input type="submit" value="PRIDAŤ">
    </form>
{% endblock %}